<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CargoFleetTrackingSystem.Properties.Settings.Cargo_FleetDBConnectionString"
            connectionString="Data Source=LAPTOP-MBEFN67A\SQLEXPRESS;Initial Catalog=Cargo_FleetDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>